<!DOCTYPE html>
<html ng-app='MenuApp'>
  <head>
    <meta charset="utf-8">
    <script src="menuapp.module.js"></script>
    <script src="menudata.service.js"></script>
    <script src="categories.component.js"></script>
    <script src="items.component.js"></script>
    <script src="data.module.js"></script>
    <script src="angular.min.js"></script>
    <script src="angular-ui-router.min.js"></script>

    <script src="menuapp.routes.js"></script>


    <script src="categories.controller.js"></script>

    <script src="itemList.controller.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Menu app</title>
  </head>
  <body>
    <h1></h1>

    <div id="list" ng-controller='ShoppingListController as list'>
      <input type="text" ng-model="list.itemName" placeholder="item name">
      <input type="text" ng-model="list.itemQuantity" placeholder="quantity">
      <button ng-click="list.addItem();">Add Item</button>
      <span>{{ list.lastRemoved }}</span>

      <shopping-list
        items="list.items"
        title="{{list.title}}"
        on-remove="list.removeItem(index)"></shopping-list>

    </div>


  </body>
</html>
